.moh{
    border: 3px solid rgb(11, 11, 11);
    height: 400px;
    width: 500px;
    padding: 20px;
    margin: 0 auto;

    }
.box{
    border: 7px solid rgb(4, 4, 5);
    height: 30px;
    width: 20px;
    padding: 40px;
    float: right;
    float:left;
    margin-top:  auto;
    margin-right:  10px;
    margin-bottom:  100px;
    margin-left:  100px;
    background-color: rgb(159, 3, 60);
   }

    
    
